.searchInput{
    margin-right: 2rem;
}

.errorMesaje{
    display:block;
    width: 50%;
}

.formStyle{
    display: flex;
    direction: row;
    padding: 2rem 0;
    justify-content: flex-end;
}

.principalContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    position: relative;
    margin-bottom: 2rem;
}